@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Light.ttf);
    font-weight:300;
}
@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Regular.ttf);
}

body {
	font-family:Open Sans;
}

/*header*/
.bar-stable .nav-bar-block ion-header-bar {
	background:#E62739;
}

.bar.bar-stable .title {
	color:white;
	padding-left:10px;
	font-weight: 100;
	font-family:"Open Sans";
}

/*logo header */
.logoHeader {
	display:inline;
	position:absolute;
	right:0px;
	z-index:100;
	padding:6px;
}

.bar-stable .ion-ios-arrow-left {
position:absolute;
float:left;
left:0px; 
z-index:100;
font-size:36px;
padding:5px 10px; 
color:white;
}
/* navigarea principala */
.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
	border-width:0px !important;
}
.view-container .tabs-icon-top .tab-nav {
	padding-top:6px;
	padding-bottom:6px;
	height: 57px;
}

/*navigare secundara */

.tabs-route {
	padding:0px;
}
/*.tabs-route a.tab-item{
	background:#ddd;

}*/
.tabs-route .icon{
	/*color:555;*/
}
.tabs-route a.bus.active,
.tabs-route a.bus:active{
	background:#e62739;
	color:white;
}
.tabs-route a.train.active,
.tabs-route a.train:active{
	background:#555555;
	color:white;
}
.tabs-route a.bicycle.active,
.tabs-route a.bicycle:active{
	background:#8a65c5;
	color:white;
}
.tabs-route a.boat.active,
.tabs-route a.boat:active{
	background:#6ed3cf;
	color:white;
}

/*route lists */

.view-container .list .item-icon-left i{
	color:#555;
}

.view-container .list .item-icon-left .icon, 
.view-container .list .item-icon-right .icon{
    padding-left: 15px;
}

.view-container .list .item {
	padding-left:75px;
}
.view-container .list a.bus, .view-container .list a.trolley {
color: #F00;
font-family:Open Sans;
}
.view-container .list a.tram {
color: #555;
font-family:Open Sans;
}
.view-container .list a.bycicle {
color: #8a65c5;
font-family:Open Sans;
}
.view-container .list a.boat {
color: #387ef5;
font-family:Open Sans;
}


.view-container .list a.item .ion-map {
	color:#ccc;
}

/*view-ul cu timpii */

span.timeIsMoney {
	font-weight:bold;
	font-size:20px;
	margin-right:30px;
	color:rgba(255, 0, 0, 0.60);
}

.view-container .timpi .item {
	padding-left:20px;
}


/*map with stations toggle up */
.toggleStation .stationName {
	padding:15px;
}
.toggleStation .ion-close-round {
	color:#aaa;
}
.toggleStation a.item-icon-left {
	padding-left:20;
	vertical-align: bottom;
}
.ruta .timp {
	text-align:center;
	display:block;
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:10%;
}

.ruta .linie {
	padding-top:15px;
	font-weight:bold;
	font-size:20px;
	max-width:50px;
}

.toggleStation .item-icon-left{
	padding-left:0px;
}
.toggleStation .item-icon-right {
	padding-right:0px;
}
.toggleStation a.item {
	padding: 5px;
}
.ruta .bus, .ruta span.bus {
	color:#E62739;
}
.ruta .tram, .ruta span.tram {
	color:#555;
}
.ruta .bycicle, .ruta span.bycicle{
	color:#8a65c5;
}
.ruta .boat, .ruta span.boat {
	color:#6ED3CF;
}
/*.timpSpan {
	
	color:#;
	text-overflow: ellipsis;

}*/