/* Empty. Add your own CSS if you like */


.labelClass {
  padding-top:29px;
  padding-left:2px;
  color:#000;
  font-family: 'open_sansregular';
  height:61px;
  width:37px;
  font-size:9px;
  line-height: 12px;
}

ionic-content.view{
  bottom: 50px;
}

.popupMap{
  position: fixed;
  bottom:50px;
  width: 100vw;
  height: 60vw;
  z-index:5;
}

.fullHeight {
  height: 100%;
}

.popupMap>.fullHeight,
.popupMap>.fullHeight>*,
.popupMap>.fullHeight>*>*,
.popupMap>.fullHeight>*>*>*,
.popupMap>.fullHeight>*>*>*>*{
  height: 100%;
}

a.hiddenLink{
  display: none;
}
ion-view.pane {
  height: auto;
  top: 100px;
  bottom: 48px;
}

.currentStationWrapper {
  position: absolute;
  background: white;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
}
.currentStationWrapper>*{
  position: absolute;
  background: white;
  width:100%;
  max-height: 300px;
  bottom:0;
}
.currentStationWrapper .stationName{
  font-size:2em;
}
