
<div class="tabs tabs-icon-up tabs-route row row-bottom" ng-controller="SecondaryMenuController" >
  <a class="tab-item bus">
    <i class="icon ion-android-bus" ng-click="toogleTT('bus');" ></i>
    Bus
  </a>
  <a class="tab-item train">
    <i class="icon ion-android-train" ng-click="toogleTT('tram');" ></i>
    Tramvai
  </a>
  <a class="tab-item bicycle">
    <i class="icon ion-android-bicycle" ng-click="toogleTT('bicylcle');" ></i>
    Biciclete
  </a>
  <a class="tab-item boat">
    <i class="icon ion-android-boat" ng-click="toogleTT('boat');" ></i>
    Barcă
  </a>
</div>
